body { 
    background: url(../images/restaurant-hall-with-lots-table.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body .container {
    padding: 1rem 3rem;
    background-color: #ffdc678e;
    border-radius: 2rem;
    margin-top: 1rem;
    backdrop-filter: blur(5px);
}

body .container h1{
    margin-top: 5%;
    font-family: "Bad Script";
}

body .container h1.title{
    margin-top: 5%;
    font-family: "Bad Script";
    font-size: 1.8rem;
}

form .stars input {
    display: none;
}

form .stars input + label {
    color: #ffe400;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}

form .stars input:checked + label ~ label {
    color: #838383;
}

button.btn-secondary{
    margin-top: 1rem;
}