body { 
    background: url(../images/restaurant-table-14-persons-restaurant-hall-with-brick-walls-wide-windows-wood-ceiling.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body .container {
    background-color: rgba(255, 207, 148, 0.685);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 2rem;
}


body .container h1{
    font-family: "Bad Script";
}

body .container .rezervasyon {
    display: flex;
    font-size: 1.2rem;;
}

body .container .rezervasyon p.menu{
    margin-left: 3rem;
}

body .container .rezervasyon p.menu>span{
    color: rgb(255, 38, 0);
}

.nav_buttons {
    margin-left: 85%;
    width: 20%;
}

.nav_buttons a {
    text-decoration: none;
    color: rgb(128, 72, 0);
}

.nav_buttons a button {
    border: none;
    background: none;
    color: rgb(128, 72, 0);
    transition-duration: 1s;
}

.nav_buttons a button:hover {
    color: rgb(155, 88, 0);
}

.nav_buttons a:nth-child(1):hover::after{
    content: "Yiyecek Ekle";
    position: absolute;
    top: 70px;
    left: 80%;
}

.nav_buttons a:nth-child(2):hover::after{
    content: "Menü Ekle";
    position: absolute;
    top: 70px;
    left: 85%;
}

.nav_buttons a:nth-child(3):hover::after{
    content: "Posta Kutusu";
    position: absolute;
    top: 70px;
    left: 90%;
}

.nav_buttons a:nth-child(4):hover::after{
    content: "Çıkış Yap";
    position: absolute;
    top: 70px;
    left: 95%;
}
