@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Viaoda+Libre&display=swap');

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bbb9b9a4;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.nav_buttons {
    margin-left: 90%;
    width: 10%;
}

.nav_buttons a {
    text-decoration: none;
    color: rgb(128, 72, 0);
}

.nav_buttons a button {
    border: none;
    background: none;
    color: rgb(128, 72, 0);
    transition-duration: 1s;
}

.nav_buttons a button:hover {
    color: rgb(155, 88, 0);
}

.nav_buttons a:nth-child(1):hover::after{
    content: "Posta kutusu";
    position: absolute;
    top: 50px;
    left: 85%;
}

.nav_buttons a:nth-child(2):hover::after{
    content: "Çıkış Yap";
    position: absolute;
    top: 50px;
    left: 90%;
}